<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <title>Klausur erfolgreich angelegt</title>
</head>
<body>
<div class="container">
    <h1>Klausur wurde erfolgreich angelegt!</h1>
    <a aria-describedby="Zur Klausuranmeldung" th:href="@{/klausuranmeldung}">Hier</a>
     können Sie sich zu einer Klausur anmelden!
</div>

</body>
</html>