<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
  <title>PP2 Urlaub Übersicht</title>
</head>
<body>
<div class="container">
  <h1>Urlaub anmelden</h1>
  <form th:action="@{/urlaubsterminanmeldung}" th:object="${urlaubsterminForm}" method="post">
    <div class="mb-3 mt-4">
      <label for="datum">Datum (Im Format yyyy-mm-dd)</label>
      <input type="date" id="datum" class="form-control" th:field="*{datum}">
      <div class="alert alert-danger" th:if="${#fields.hasErrors('datum')}">Geben Sie ein gültiges Datum ein!</div>
    </div>
    <div class="mb-3">
      <label for="von">Start (Im Format hh:mm)</label>
      <input type="time" id="von" class="form-control" th:field="*{von}">
      <div class="alert alert-danger" th:if="${#fields.hasErrors('von')}">Geben Sie eine gültige Uhrzeit ein!</div>
    </div>
    <div class="mb-3">
      <label for="bis">Ende (Im Format hh:mm)</label>
      <input type="time" id="bis" class="form-control" th:field="*{bis}">
      <div class="alert alert-danger" th:if="${#fields.hasErrors('bis')}">Geben Sie eine gültige Uhrzeit ein!</div>
    </div>

    <div class="error" th:if="${#fields.hasErrors('urlaubsterminZeitraum')}">
      <div class="error" th:errors="*{urlaubsterminZeitraum}"></div>
    </div>

    <button aria-label="Urlaubstermin eintragen" class="btn btn-primary" type="submit">Eintragen</button>
  </form>
  <div class="mt-4 mb-4">
    <a class="btn btn-primary" th:href="@{/}">Zurück zur Übersicht</a>
  </div>
</div>
</body>
</html>