name: Build and Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        name: Git Checkout
      - name: Java installieren
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Give Permission to run gradlew
        working-directory: ./chicken
        run: chmod +x ./gradlew
      - name: Run Gradle
        working-directory: ./chicken
        run: ./gradlew check
